body {
	/* background-color: rgb(237, 243, 253); */
	background-color: rgb(223, 227, 229);
}


.options {
	background-color: rgb(230, 237, 250);
	border-bottom: 4px solid rgb(8, 12, 196);
	font-family: sans-serif;
	text-align: center;
	height: 30px;
	margin: 50px;
}




#nav
{
	position: sticky;
	top: 0px;
}

.img-fluid{
	width: 20px;
	height: 20px;
}

.page {
	background-color: white;
	height: 1000px;
	width: auto;
	margin: 70px;
	padding: 70px;
}

.container{
	
	justify-content: center;
	padding-top: 20px;
}


.jumbotron{
    background: blue;
    color: white;
	padding: 10px;			/* padding c'est l'écart entre le texte à l'intérieur du rectangle (bleu) et les bords internes de ce rectangle */
	margin: 3px;			/* margin c'est l'écart entre le rectangle (bleu) et les autres éléments à l'extérieur */
	border-radius: 10px;
}


.alignement
{
	text-align: center;	
}
.hauteur
{
	height: 125px;
}

/* .col-12 .page {
	background-color: white;
	height: 500px;
	width: auto;
	margin: 10px;
	padding: 20px;
} */

.nav-tabs{
	background: blue;
	background-color: white;
	color: white;
}



/********************************/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px black;
    background-color: white;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	padding: 10px;
	background: white;
}

.btn-group{
	
    border-right: 1px solid #ddd;
    
    padding: 10px;
}

/* textarea{
	resize: none;
	width: auto;
	height: 600px;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
} */



/* input[type="checkbox"]{
    display: none;
} */